<div class="page-width">
	{% paginate collection.products by section.settings.pagination %}
			<h1>{{ collection.title }}</h1>
			
				<div class="grid-collection">
					{% for product in collection.products %}
					<div class="grid-product">
						{% render 'product-item' product: product %}
					</div>
					{% else %}
					<p>no matches</p>
					{% endfor %}
				</div>
			
			{% if paginate.pages > 1 %}
					{{ paginate | default_pagination }}
			{% endif %}
	{% endpaginate %}
</div>

{% schema %}
	{
		"name": "Collection",
		"settings": [
			{
				"type":   "range",
				"id":     "pagination",
				"min":       4,
				"max":       24,
				"step":      4,
				"label":     "Products per page",
				"default":   4
			}
		]
	}
{% endschema %}

{% stylesheet 'scss' %}
	
{% endstylesheet %}