{% assign featured_collection = collections['featured-collection'] %}

{% for product in featured_collection.products %}
	{% render 'product-item' %}
{% else %}
	<p>no matches</p>
{% endfor %}


{% schema %}
	{
		"name": "Collection",
		"settings": [],
		"presets": [
			{
				"category": "Custom Content",
				"name": "Featured collection"
			}
		]
	}
{% endschema %}